// External
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,700&display=swap");

// Background Colours
$body-bg: #ffffff;

// Colors
$black: #3b3c43;
$white: #ffffff;
$blue: #242528;
$dark_blue: #3b3c43;
$grey: #E8E8E8;
$maroon: #000000;
$maroon2: #000000;
$b1: #64485C;
$b2: #83677B;
$fresh: #F7F5E6;

// $button1: #2E1114;
// $button2: #501B1D;
// $blue: #52658F;
// $dark_blue: #333A56;
// $grey: #E8E8E8;
// $maroon: #501B1D;
// $maroon2: #2E1114;
// $b1: #64485C;
// $b2: #83677B;
// $fresh: #F7F5E6;

// Fonts
$font_family: "Source Sans Pro", sans-serif;
$font_regular: 400 1rem $font_family;
$font_light: 300 1rem $font_family;
$font_bold: 700 1rem $font_family;
$font: $font_regular;

.link {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  border-bottom: 2px solid transparent;
  transition: all 220ms ease-in-out;
  padding-bottom: 0.2rem;
  background-color: transparent;

  &:hover {
    border-bottom: 2px solid #336699;
  }
  @media screen and (max-width: 768px) {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
}
