@import "../styles/index.scss";

.home-container {
  background-color: $grey;
  padding-right: 6rem;
  padding-left: 6rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  height: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}
.home-container h1 {
  font: $font_regular;
  color: $dark_blue;
  font-size: 3rem;
}
.home-container .about-content {
  display: block;
  margin-top: 2rem;
  padding: 0;
  justify-content: space-between;
}

.home-container img {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  padding-top: 2rem;
}
.home-container .about-content .content p {
  font: $font_regular;
  color: $black;
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align:justify;
}
.about-content .content {
  //height: 100%;
  //width: 100%;

  button {
    width: 120px;
    height: 40px;
    background-color: $blue;
    border: none;
    border-radius: 0.5rem;
    color: $white;
    font: $font_regular;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    right: 0;
  }
}

.home-container .divider {
  border: 1px solid $black;
  width: 90px;
  height: 8px;
  background-color: $black;
  border-radius: 1rem;
  margin: 4rem 0rem 0rem 0rem;
}
.divider {
  border: 1px solid $black;
  width: 90px;
  height: 8px;
  background-color: $black;
  border-radius: 1rem;
  margin-left: 6rem;
  margin-top: 5rem;
}
.featured-post {
  padding-left: 6rem;
  padding-right: 6rem;
  margin-bottom: 3rem;
}
h1 {
  font: $font_regular;
  color: $dark_blue;
  font-size: 3rem;
  margin-bottom: 2rem;
}
 .wave{
  height: 300px;
  width: 100%;
  background-color: $blue;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .home-container {
    //background-color: rgb(66, 66, 91);
    padding: 3rem;
    height: 100%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .home-container h1 {
    font: $font_regular;
    color: $maroon2;
    font-size: 2rem;
  }
  .home-container .divider {
    border: 1px solid $black;
    width: 70px;
    height: 7px;
    background-color: $black;
    border-radius: 1rem;
    margin: 2rem 0 0 0;
  }
  .home-container .about-content {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
  }
  .home-container img {
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }
  .home-container .about-content p {
    font: $font_regular;
    color: $black;
    display: flex;
    margin-top: 2rem;
  }
}
.header img{
  position: relative;
  top: 90px;
  width: 100vw;
  height: 700px;
  left: 0;
  z-index: -1;
  @media screen and (max-width:768px) {
    display: block;
    width: 100vw;
    height: 500px;
  }
}
.header .card-flex {
  position: relative;
  display: flex;
  width: 80%;
  height: 150px;
  justify-content: space-evenly;
  justify-self:flex-start;
  margin-bottom: 12rem;
  z-index: -1;
  @media screen and (max-width:768px) {
    display: none;
  }


  .card-1 {
    display: block;
    width: 300px;
    height: 300px;
    background-image: url(../static/img/card-1.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    h2{
      font: $font_bold;
      color: $grey;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 400;
      padding: 3rem;
      -webkit-text-stroke: 1px $blue;
    }

    button {
      border: none;
      background-color: black;
      color: white;
      height: 30px;
    }
  }
  .card-2 {
    background-color: $blue;
    display: block;
    width: 300px;
    height: 300px;
    background-image: url(../static/img/card-2.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    h2{
      font: $font_bold;
      color: $grey;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 400;
      padding: 3rem;
      -webkit-text-stroke: 1px $blue;
    }

    button {
      border: none;
      background-color: black;
      color: white;
    }
  }
  .card-3 {
    background-color: $blue;
    display: block;
    width: 300px;
    height: 300px;
    background-image: url(../static/img/card-3.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;

    h2{
      font: $font_bold;
      color: $grey;
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: 400;
      padding: 3rem;
      -webkit-text-stroke: 1px $blue;
      border:$blue
    }

    button {
      border: none;
      background-color: black;
      color: white;
    }
  }
 
}
