@import "../styles/index.scss";

.home-container {
  //background-color: rgb(66, 66, 91);
  padding: 3rem;
  height: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}
.home-container h1 {
  font: $font_regular;
  color: $blue;
  font-size: 3rem;
}
.home-container .about-content {
  display: flex;
  margin-top: 2rem;
  padding: 0;
  justify-content: space-between;
}

.home-container .about-content img {
  width: 400px;
  height: 300px;
  margin-right: 2rem;
  display: flex;
}
.home-container .about-content p {
  font: $font_regular;
  color: $black;
  display: flex;
}
.about-content .content {
  //height: 100%;
  //width: 100%;

  button {
    width: 120px;
    height: 40px;
    background-color: $black;
    border-radius: 0.5rem;
    color: $white;
    font: $font_regular;
    //display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    right: 0;
  }
}

.home-container .divider {
  border: 1px solid $black;
  width: 90px;
  height: 8px;
  background-color: $black;
  border-radius: 1rem;
  margin: 0.5rem 0;
}
@media screen and (max-width: 768px) {
  .home-container {
    //background-color: rgb(66, 66, 91);
    padding: 3rem;
    height: 100%;
    margin: 0 auto;
    margin-top: 2rem;
  }
  .home-container h1 {
    font: $font_regular;
    color: $blue;
    font-size: 2rem;
  }
  .home-container .about-content {
    display: flex;
    margin-top: 2rem;
    padding: 0;
    justify-content: space-between;
  }
  .home-container .divider {
    border: 1px solid $black;
    width: 90px;
    height: 7px;
    background-color: $black;
    border-radius: 1rem;
    margin: 0.5rem 0;
  }
  .home-container .about-content {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
  }
  .home-container .about-content img {
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }
  .home-container .about-content p {
    font: $font_regular;
    color: $black;
    display: flex;
    margin-top: 2rem;
  }
}
