@import "../styles/index.scss";

.home-container {
  //background-color: rgb(66, 66, 91);
  padding: 6rem;
  height: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}
.home-container h1 {
  font: $font_regular;
  color: $dark_blue;
  font-size: 3rem;
}
.home-container .about-content {
  display: block;
  margin-top: 2rem;
  padding: 0;
  justify-content: space-between;
}

.home-container img {
  width: 80%;
  height: 600px;
  margin: 0 auto;
  padding-top: 2rem;
}
.home-container .about-content .content p {
  font: $font_regular;
  color: $black;
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align:justify;
}
.about-content .content {
  //height: 100%;
  //width: 100%;

  button {
    width: 120px;
    height: 40px;
    background-color: $blue;
    border: none;
    border-radius: 0.5rem;
    color: $white;
    font: $font_regular;
    //display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    right: 0;
  }
}

.home-container .divider {
  border: 1px solid $black;
  width: 90px;
  height: 8px;
  background-color: $black;
  border-radius: 1rem;
  margin: 4rem 0rem 0rem 0rem;
}
.divider {
  border: 1px solid $black;
  width: 90px;
  height: 8px;
  background-color: $black;
  border-radius: 1rem;
  margin-left: 6rem;
  margin-top: 5rem;
}
.featured-post {
  padding-left: 6rem;
  padding-right: 6rem;
  margin-bottom: 3rem;
}
h1 {
  font: $font_regular;
  color: $dark_blue;
  font-size: 3rem;
  margin-bottom: 2rem;
}
 .wave{
  height: 300px;
  width: 100%;
  background-color: $blue;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .home-container {
    //background-color: rgb(66, 66, 91);
    padding: 3rem;
    height: 100%;
    margin: 0 auto;
    margin-top: 3rem;
  }
  .home-container h1 {
    font: $font_regular;
    color: $maroon2;
    font-size: 2rem;
  }
  .home-container .divider {
    border: 1px solid $black;
    width: 70px;
    height: 7px;
    background-color: $black;
    border-radius: 1rem;
    margin: 2rem 0 0 0;
  }
  .home-container .about-content {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
  }
  .home-container img {
    width: 400px;
    height: 300px;
    margin: 0 auto;
  }
  .home-container .about-content p {
    font: $font_regular;
    color: $black;
    display: flex;
    margin-top: 2rem;
  }
}
.home-container .wave  img {
  position: absolute;
  top: 90px;
  left: 0;
  transform: rotate(180deg);
  //z-index: 3;
  @media screen and (max-width:768px) {
    display: none;
  }
}
