@import '../styles/index.scss';


.poem-container {
    padding: 6rem;
    height: 100%;
    margin: 0 auto;
      
    h1 {
        font: $font_bold;
        font-size: 2rem;
        color: $blue;
        margin-bottom: 1rem;
    }
    h2 {
        font: $font_bold;
        font-size: 2rem;
        color: $maroon;
        margin-bottom: 1rem;
    }
}
.poem-container .poem-card{
    background-color: $grey !important;
    padding: 1rem;
    background: grey;
    border: 1px solid;
    border-radius: 1rem;
    box-shadow: rbga (10,10,10,0.5);
}
@media screen and (max-width:768px) {
    .blog-container {
        padding: 2rem !important;
        height: 100% !important;
        margin-top: 5rem !important;
    }
}

