@import '../styles/index.scss';


.blog-container .blog-card{
    background-color: $grey;
}

.blog-card .title {
    font: $font_bold;

}
.blog-card .blog-flexbox {
    display: flex;
    justify-content: space-between;
    height: 200px;
    overflow: scroll;

    .blog-img {
        width: 100%;
    }
    .blog-text {
        height: 20px;
    }
}
.blog-button {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url('../static/graphics/right.svg');
    background-repeat: no-repeat;
    background-position: center left;
    .a-text {
        color: #000;
        font-weight: bold;
        text-decoration: none;
        padding-left: 2rem;
    }
}