@import '../styles/index.scss';


.blog-container .blog-card{
    background-color: $grey;
}

.blog-card .title {
    font: $font_bold;

}
.blog-card .blog-flexbox {
    display: flex;
    justify-content: space-between;
    height: 200px;
    overflow: scroll;

    .blog-img {
        width: 100%;
    }
    .blog-text {
        height: 20px;
    }
}
.blog-button {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url('../static/graphics/right.svg');
    background-repeat: no-repeat;
    background-position: center left;
    .a-text {
        color: #000;
        font-weight: bold;
        text-decoration: none;
        padding-left: 2rem;
    }
}

@media screen and (max-width:768px) {
    .blog-container {
        padding: 2rem;
        height: 100%;
        margin-top: 5rem;
    }

    .blog-flexbox {
        display: block !important;
    }

    img.blog-img {
        padding: 1rem;
        width: 100% !important;
        height: 215px;
        margin: 0 auto;
    }
    p{
        padding: 1rem;
        text-align: justify;
        width: 100%;
        margin: 0 auto;
    }
}

// like button
.blog-card button {
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: $white;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #bbb;
    box-sizing: border-box;
  }
