@import '../styles/index.scss';


.poem-container .poem-card{
    background-color: $grey;
}

.poem-card .title {
    font: $font_bold;

}
.poem-card .poem-flexbox {
    display: flex;
    justify-content: space-between;
    height: 200px;
    overflow: scroll;

    .poem-img {
        width: 100%;
    }
    .poem-text {
        height: 20px;
    }
}
.poem-button {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-image: url('../static/graphics/right.svg');
    background-repeat: no-repeat;
    background-position: center left;
    .a-text {
        color: #000;
        font-weight: bold;
        text-decoration: none;
        padding-left: 2rem;
    }
}
@media screen and (max-width:768px) {
    .poem-container {
        padding: 2rem !important;
        height: 100% !important;
        margin-top: 5rem !important;
    }

    .poem-flexbox {
        display: block !important;
    }

    img.poem-img {
        padding: 1rem;
        width: 100% !important;
        height: 215px;
        margin: 0 auto;
    }
    p{
        padding: 1rem;
        text-align: justify;
        width: 100%;
        margin: 0 auto;
    }
}
