@import '../src/styles/index.scss';
*,
body,
html, #root {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font: $font_regular;
  overflow:visible;
  font-family: $font_family;
}
 #root {
   height: 100vh;
 }
